In [47]:
nama = 'Fadhlan subhan fadilah'
kelas = "TI22T"
jurusan = "Teknik Informatika"
usia = 18
sudah_menikah = False
hobi = "badminton"
quotes = "you'll never walk alone"
print("nama:",nama)
print("usia:",usia)
print("sudah_menikah:",sudah_menikah)
print("hobi:",hobi)
print("quotes:",quotes)
print("kelas:",kelas)
print("jurusan:",jurusan)

nama: Fadhlan subhan fadilah
usia: 18
sudah_menikah: False
hobi: badminton
quotes: you'll never walk alone
kelas: TI22T
jurusan: Teknik Informatika

In [13]:
a,b,c = 1,2,"mantap"
print("a:",a)
print("b:",b)
print("c:",c)
d = e = f = 10
print("d:",d)
print("e:",e)
print("f:",f)

a: 1
b: 2
c: mantap
d: 10
e: 10
f: 10

In [15]:
kota = "sukabumi"
nilai = 50
print(type(kota))
print(type(nilai))

<class 'str'>
<class 'int'>

In [19]:
panjang = 5
lebar = 10.5
luas = panjang*lebar
print(panjang, "*",lebar, "=" ,luas)
print("type dari variabel panjang:",type(panjang))
print("type dari variabel lebar:",type(lebar))
print("type dari variabel luas:",type(luas))

5 * 10.5 = 52.5
type dari variabel panjang: <class 'int'>
type dari variabel lebar: <class 'float'>
type dari variabel luas: <class 'float'>

In [21]:
alas = 10
tinggi = 5
luas = 0.5 * alas * tinggi
print("luas segitiga=",luas,"cm2")

luas segitiga= 25.0 cm2

In [23]:
tahun_lahir = 2004
tahun_sekarang = 2022
umur = tahun_sekarang-tahun_lahir
print("umur=",umur)

umur= 18

In [29]:
nama_depan = "Fadhlan"
nama_belakang = "subhan fadilah"
nama_lengkap = nama_depan + " " + nama_belakang
usia = "18"
alamat = "cipeundeuy"
kata_mutiara = "you'll never walk alone"
print(nama_lengkap,"("+usia+")",",","dari",alamat,",""kata mutiara:",kata_mutiara)

Fadhlan subhan fadilah (18) , dari cipeundeuy ,kata mutiara: you'll never walk alone

In [30]:
print("saya "*3)

saya saya saya

In [32]:
print("saya" * "saya")

TypeError: can't multiply sequence by non-int of type 'str'

In [34]:
print("\n saya "*3)

 saya
 saya
 saya

In [37]:
print("\n nama saya","\n FADHLAN SUBHAN FADILAH","\n jurusan TI")

 nama saya
 FADHLAN SUBHAN FADILAH
 jurusan TI

In [39]:
print('''nama saya
Fadhlan
jurusan ti''')

nama saya
Fadhlan
jurusan ti

In [41]:
saya_orang_indonesia = True
saya_adalah_robot = False
print("apakah saya orang indonesia ?", saya_orang_indonesia)
print("apakah saya adalah robot?", saya_adalah_robot)
print("tipe dari saya_orang_indonesia", type(saya_orang_indonesia))
print("tipe dari saya_adalah_robot", type(saya_adalah_robot))

apakah saya orang indonesia ? True
apakah saya adalah robot? False
tipe dari saya_orang_indonesia <class 'bool'>
tipe dari saya_adalah_robot <class 'bool'>

In [46]:
foo = 10>12
print(foo)
foo = 20<10
print(foo)
print("A"=="a")

False
False
False