In [13]:
#looping condition
planets = ['mercury','venus','earth','mars','jupiter','saturn','uranus','neptunue']
for index, planet in enumerate (planets):
    print(index,planet)

0 mercury
1 venus
2 earth
3 mars
4 jupiter
5 saturn
6 uranus
7 neptunue

In [11]:
#liverpool_squad
liverpool=['firmino 9','salah 11','jota 20','diaz 23','nunez 27','elliot 19','carvalho 28','milner 7','henderson 14','jones 17','chamberlain 15','keita 8','fabinho 3','thiago 6','arnold 66','gomez 2','robertson 26','tsimikas 21','van djik 4','konate 5','matip 32','aliison 1','kelleher 62','adrian 13']
for liverpool in liverpool:
    print(liverpool)

firmino 9
salah 11
jota 20
diaz 23
nunez 27
elliot 19
carvalho 28
milner 7
henderson 14
jones 17
chamberlain 15
keita 8
fabinho 3
thiago 6
arnold 66
gomez 2
robertson 26
tsimikas 21
van djik 4
konate 5
matip 32
aliison 1
kelleher 62
adrian 13

In [29]:
students=['fadhlan','vicky','fajril','aripin','dzikri']
for index, student in enumerate (students):
    if index %2==0:
        print(index,student)

0 fadhlan
2 fajril
4 dzikri

In [28]:
planets = ['mercury','venus','earth','mars','jupiter','saturn','uranus','neptune']
for index, planet in enumerate (planets):
    if index %2:
        print(index,planet)

1 venus
3 mars
5 saturn
7 neptune

In [44]:
i=10
while i>=0:
    print (i)
    i-=1

10
9
8
7
6
5
4
3
2
1
0

In [49]:
i=0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [52]:
while True:
    a=input('input string: ')
    if a == 'ges ah cape':
        break
    print('length of a is {}'.format(len(a)))

input string: afshdiahsfiohaioefoiqagf
length of a is 24
input string: fadhlan
length of a is 7
input string: ges ah cape

In [57]:
i=10
while i>=0:
    if i == 4:
        break
    print(i)
    i-=1

10
9
8
7
6
5

In [60]:
total=0
viewers=0
while viewers <5:
    age=int(input('input age: '))
    if age > 3:
        total += 30000
    viewers += 1
print(total)

input age: 17
input age: 18
input age: 19
input age: 20
input age: 2
120000