In [11]:
a,b = 10,100
print(a, '+', b, '=', a+b)
print(a, '-', b, '=', a-b)
print(a, '*', b, '=', a*b)
print(a, '/', b, '=', a/b)
print(a, '%', b, '=', a%b)
print(a, '**', b, '=', a**b)
print(a, '//', b, '=', a//b)

10 + 100 = 110
10 - 100 = -90
10 * 100 = 1000
10 / 100 = 0.1
10 % 100 = 10
10 ** 100 = 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
10 // 100 = 0

In [13]:
print(2*2**2/10+4+2**3/5)

6.4

In [15]:
a = 5
print('a=5->',a)
a+=2
print('a+=2->',a)
a-=4
print('a-=4->',a)
a/=5
print('a/=5->',a)
a%=2
print('a%=2->',a)

a=5-> 5
a+=2-> 7
a-=4-> 3
a/=5-> 0.6
a%=2-> 0.6

In [19]:
a = 5
print("a=",a)
a+=2
print("a=",a)
a-=4
print("a=",a)
a/=5
print("a=",a)
a%=2
print("a=",a)

a= 5
a= 7
a= 3
a= 0.6
a= 0.6

In [27]:
a,b = 5,10
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [35]:
nilai_1 = True
nilai_2 = False
nilai_3 = True
print(nilai_1 and nilai_2)
print(nilai_1 and nilai_3)
print(nilai_3 and nilai_2)

False
True
False

In [40]:
a = True 
b = False
print('baju murah dan diskon laku =',a)
print('baju tidak murah dan tidak diskon tidak laku =',b)

baju murah dan diskon laku = True
baju tidak murah dan tidak diskon tidak laku = False

In [49]:
murah=True
diskon=True
print('baju murah dan diskon jadi laku='+str(murah and diskon))
print('baju tidak murah dan tidak diskon jadi tidak laku='+str (not murah))

baju murah dan diskon jadi laku=True
baju tidak murah dan tidak diskon jadi tidak laku=False

In [52]:
a=5
b=5
list_a=[1,2,3]
list_b=[1,2,3]
nama_a='budi'
nama_b='budi'
print('a is b :', a is b)
print('a is not b :', a is not b)
print('nama_a is nama_b :', nama_a is nama_b)
print('list_a is list_b :', list_a is list_b)

a is b : True
a is not b : False
nama_a is nama_b : True
list_a is list_b : False

In [54]:
nama = 'fadhlan'
hobi = 'badminton'
print('f' in nama)
print('f' not in nama)

True
False

In [57]:
warna = ['hijau','kuning','merah','biru' ]
print('ungu' in warna)

False

In [60]:
print(format(36,'08b'))

00100100

In [65]:
a=1
b=64
print('a =',a,'=',format(a,'08b'))
print(format(b,'08b'))

a = 1 = 00000001
01000000

In [68]:
print('h =',format(104,'08b'))
print('e =',format(101,'08b'))
print('l =',format(108,'08b'))
print('l =',format(108,'08b'))
print('o =',format(111,'08b'))

h = 01101000
e = 01100101
l = 01101100
l = 01101100
o = 01101111

In [72]:
x=100
y=10
z=68
print(format(x&y&z,'08b'))
print(format(x^y<<5>>2,'08b'))
print(format(~x&~y|~z,'08b'))

00000000
00110100
-1000101